<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Registration Request</h1>
    Name: <%= @company.name %> <br>
    Email: <%= @company.email %> <br>
    Website: <a href=<%= @company.url %> traget=_blank><%= @company.url %></a><br>
    Phone: <%= @company.phone %><br>
    Short Description: <%= @company.short_description %><br>
    Long Description: <%= @company.long_description %><br>
    Image: <br>
    <%= image_tag @company.image.url(:medium) %>
    <br>
    <a href="upstagecommunity.com/companies/<%= @company.id%>/approve">Approve</a>

  </body>
</html>