<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Registration Request</h1>
    Name: <%= @company.name %>
    Email: <%= @company.email %>
    Website: <a href=<%= @company.url %> traget=_blank><%= @company.url %></a>
    Phone: <%= @company.phone %>
    Short Description: <%= @company.short_description %>
    Long Description: <%= @company.long_description %>
    Image: 
    <%= image_tag @company.image.url(:medium) %>

    

  </body>
</html>