  <div id="create-account-modal" class="modal">
    <a href="#" class="exit">X</a>
    Create Account Modal
    <%= link_to "Twitter Sign Up", "/auth/twitter" %>
    <% @user = User.new %>
    <%= form_for @user do |f| %>
      <%= f.label :name %>:
      <%= f.text_field :name %><br>
      <%= f.submit %>
    <% end %>
  </div>