<nav>
        <div class="nav-div">
            <%= link_to "Home/Logo", :root %><br>
            <%= link_to "About", about_path %>
        </div>

        <div class="nav-div">
            <%= link_to "Productions", productions_path %>
        </div>

        <div class="nav-div">
            <%= link_to "Companies", companies_path %>
        </div>
        <div class="nav-div">
            <%= link_to "Dashboard", dashboard_path %><br>
        </div>

</nav>